<mat-dialog-content>
  <mat-label><strong>Successful!</strong></mat-label>
</mat-dialog-content>

<mat-dialog-content>
  <mat-label>Your order has been submitted.</mat-label>
  <mat-label>The payment is in cash on delivery.</mat-label>
</mat-dialog-content>

<mat-dialog-content>
  <mat-label>Your online oder rederence：<strong>680001</strong></mat-label>
</mat-dialog-content>

<mat-dialog-actions>
  <button [mat-dialog-close]="false" cdkFocusInitial mat-raised-button>Cancel</button>
</mat-dialog-actions>
